body{
	background-color: #D2D7D3;
	color: #22313F;
	padding: 0;
}
.container{
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 0;
}
.row{
	margin: 0;
}
.btn-primary{
	background-color: #01568d;
}
.list-unstyled{
	margin-bottom: 0;
}
/* --- HEADER PERSO --- */
.page-header{
	background: url('../img/cap-carteret-header.JPG') no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	padding-top: 15px;
	padding-left: 15px;
	margin-bottom: 0;
	margin-top: -20px;
	font-family: 'Lobster';
	border: none;
}
.page-header h1{
}
.page-header>a{
	color: #22313F;
}
.page-header>a:hover{
	text-decoration: none;
}
/* --- NAVBAR PERSO --- */
.navbar, .navbar-default{
	border: none;
	border-radius: 0;
	margin-top: 0;
	color: #ffffff;
	background-color: #01568d;
	margin-bottom: 0;
}
#myNavbar>ul>li>a, .navbar>.navbar-header>a.navbar-brand{
	color: #ffffff;
}
#myNavbar>ul>li>a{
	background-color: #01568d;
	transition: background-color 0.5s;
}
#myNavbar>ul>li>a:hover{
	background-color: #00335a;
	transition: background-color 0.5s;
}
/* --- HOME --- */
#carousel{
	margin-top: 0px;
}
.carousel-inner>.item>img{
	width: 100%;
}
.row.resume-link{
	margin-top: 20px;
}
.resume-illus{
	display: block;
	width: 200px;
	margin: auto;
}
#resume-illus-fa-calendar{
	display: block;
	margin: auto;
}
#p-calendrier{
	margin-top: 20px;
}
.resume-item{
	position: relative;
	display: block;
	width: 90%;
	height: 390px;
	margin: auto;
	overflow: hidden;
	transition: box-shadow 0.5s;
	border: solid 1px #D2D7D3;
	border-radius: 5px 5px 0 0;
	}.resume-item:hover{
		background-color: #fff;
		border: solid 1px #89C4F4;
		transition: box-shadow 0.5s;
		-webkit-box-shadow: 0px 0px 5px #00335a;
		box-shadow: 0px 0px 5px #00335a;
	}.resume-titre, .resume-p{
		padding: 10px;
	}.resume-btn{
		position: absolute;
		bottom: 5px;
		right: 5px;
		margin: 10px;
		padding: 5px;
	}
.resume-titre-tarif{
	line-height: 86px;
	position: relative;
	top: -15px;
}
.accueil-p, .accueil-h1{
	padding: 5px 10px;
}
/* --- TARIFS --- */
.tarif-row{
	margin-bottom: 50px;
}
.tarif-h3{
	line-height: 100px;
	font-size: 25px;
	color: #ffffff;
	background-color: #00335a;
	margin-bottom: 0;
	-webkit-box-shadow: 5px 5px 3px #00335a;
	box-shadow: 5px 5px 3px #00335a;
	}
.prix{
	background-color: #01568d;
	color: #ffffff;
	margin-top: 0;
	-webkit-box-shadow: 5px 5px 3px #00335a;
	box-shadow: 5px 5px 3px #00335a;
	}.prix-estival, .prix-scolaire{
		line-height: 200px;
		font-size: 25px;
	}.prix-autre{
		line-height: 100px;
		font-size: 25px;
	}
.condition-location-span .fa{
	margin-top: 15px;
}
.condition-location-p{
	line-height: 45px;
	font-size: 18px;
	}
.lien-dispo{
	padding: 10px;
	background-color: #DADFE1;
	}.lien-dispo>p>a{
		text-decoration: none;
		color: #00335a;
		}.lien-dispo>p>a:active{
			text-decoration: none;
			color: #00335a;
		}.lien-dispo>p>a:visited{
			text-decoration: none;
			color: #00335a;
		}.lien-dispo>p>a:hover{
			text-decoration: underline;
			color: #00335a;
		}
	.fa-calendar{
		margin: 10px 0 10px 0;
		}
/* --- ACTIVITES --- */
.activite-item, .plan-item{
	width: 95%;
	margin: auto;
	overflow: hidden;
	padding: 10px;
}
.activite-item{
	border: solid 1px #D2D7D3;
	transition: box-shadow 0.5s;
	}.activite-item:hover{
		transition: box-shadow 0.5s;
		-webkit-box-shadow: 0px 0px 5px #00335a;
		box-shadow: 0px 0px 5px #00335a;
	}
.activite-1st-line{
	margin-bottom: 10px;
}
/* --- PLANS --- */
.panel-default{
	padding: 0;
	}.panel-default>.panel-heading{
		background-color: #01568d;
		}
	.panel-heading>a{
		color: #fff;
		}.panel-heading>a:hover{
			text-decoration: none;
			color: #eee;
			}
	.glyphicon-chevron-down{
		margin: 0 30px;
	}
.plan-item{
	transition: box-shadow 0.5s;
	border: solid 1px #D2D7D3;
	}.plan-item:hover{
		border: solid 1px #89C4F4;
		transition: box-shadow 0.5s;
		-webkit-box-shadow: 0px 0px 5px #00335a;
		box-shadow: 0px 0px 5px #00335a;
	}
.descriptif-item>.plan-item>a>img, .modal-body>.plan-item>a>img{
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.descriptif-item>p{
	text-align: justify;
}
.modal-img>img{
	width: 100%;
}
.row-descriptif{
	margin-top: 20px;
	margin-bottom: 20px;
}
/* --- CONTACT --- */
#message{
	height: 200px;
}
form.well{
	background-color: #D2D7D3;
	border: none;
	border-radius: 0;
	}form.well>legend{
		border: none;
	}
.alerte-resultatMail,{
	margin: 0;
	padding: 0;
}
/* --- MARCHES --- */
li.list-group-item{
	border-color: #01568d;
}
.row-retourMarches{
	margin-top: 20px;
	margin-bottom: 20px;
}
.row-marches img{
	width: 100%;
	height: 181px;
	margin-bottom: 10px;	
}
/* --- GALERIE --- */
#lightGallery{
	padding: 5px;
}
#lightGallery>li.thumbnail>img{
	height: 200px;
}
.thumbnail:hover{
	cursor: pointer;
	background-color: #01568d;
}
/* --- SITEMAP --- */
.sitemap>.row-sitemap>.col-sitemap>ul>li:hover{
	background-color: #E4F1FE;
}
.sitemap>.row-sitemap>.col-sitemap>ul>li>a{
	text-decoration: none;
	color: #22313F;
}
/* --- FOOTER --- */
footer{
	margin-top: 80px;
	padding-top: 20px;
	background-color: #01568d;
	color: #ffffff;
}
.footer-titre>a, .social-button>a{
	color: #ffffff;
}
.footer-i{
	margin-right: 15px;
	margin-bottom: 20px;
}
.widget-meteo-preview, .widget-maps{
	display: block;
	width: 250px;
	height: 150px;
	margin: auto;
	background-color: #fff;
}
.social-button{
	display: inline-block;
	margin: 5px 30px 30px 30px;
	}.social-button>a:hover{
		color: #eee;
	}
.extra-link{
	width: 250px;
	margin-bottom: 10px;
	padding: 0;
}
iframe{
	border: none;

}
.share-buttons{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 20px;
}
.fa-social-circle{
	color: #6C7A89;
	transition: color 0.4s;
}.fa-stack:hover{
	cursor: pointer;
}
.fa-stack:hover .fa-social-circle-tw{
	color: #4099FF;
	transition: color 0.4s;
}
.fa-stack:hover .fa-social-circle-fb{
	color: #3b5998;
	transition: color 0.4s;
}
.fa-stack:hover .fa-social-circle-gp{
	color: #d34836;
	transition: color 0.4s;
}
.fa-stack:hover .fa-social-circle-ct{
	color: #2ECC71;
	transition: color 0.4s;
}
.xdndev{
	margin-top: 30px;
}
footer .fa-stack a{
	text-decoration: none;
	color: #ffffff;
}
footer .fa-stack a:hover{
	text-decoration: none;
	color: #ffffff;
}
footer .fa-stack a:visited{
	text-decoration: none;
	color: #ffffff;
}

/*-----------------------------------------------------
-------------------------------------------------------
---------------------RESPONSIVE CSS--------------------
-------------------------------------------------------
-----------------------------------------------------*/

/*--------------------------------
--- Styles pour les smartphones --
---------------------------------*/
@media (max-width: 768px) {

	.tarif-h3{
		line-height: 80px;
	}
	.prix-estival, .prix-scolaire{
		line-height: 160px;
		font-size: 25px;
	}
	.prix-autre{
		line-height: 80px;
		font-size: 25px;
	}
  	.condition-location-span{
		display: none;
		}
	.plan-item{
		margin-bottom: 30px;
	}
	.a-v-gauche{
		margin-bottom: 30px;
	}
	.resume-item{
		height: 250px;
		margin-bottom: 30px;
	}.resume-btn{
		display: none;
	}.resume-p>.fa-calendar{
		margin-top: 0;
	}.resume-titre-tarif{
		margin-bottom: -20px;
	}
	.extra-link, .google-map, .widget-meteo{
		display: none;
	}
	#carousel{
		display: none;
	}
	/*.main-title{
		margin-top: -20px;
	}*/
	.row-marches img{
		height: auto;	
	}
	img.responsive-no-display{
		display: none;
	}
	footer.row{
		margin-top: 0;
	}
	.page-header h1{
		margin-top: 0;
		line-height: 0.8em;
	}
	.navbar-brand a:before{
		content: "La nichée";
	}
}

/* Styles pour les tablettes */
@media (min-width: 768px) and (max-width: 992px) {

	.condition-location-p{
		line-height: 1.4em;
		font-size: 16px;
		}
	.plan-item{
		margin-bottom: 30px;
	}
	.a-v-gauche{
		margin-bottom: 30px;
	}
	.resume-item{
		height: 250px;
		margin-bottom: 30px;
	}.resume-btn{
		display: none;
	}
	.extra-link, .google-map, .widget-meteo{
		display: none;
	}
	.resume-p>.fa-calendar{
		margin-top: 0;
	}.resume-titre-tarif{
		margin-bottom: -20px;
	}
	.row-marches img{
		height: auto;	
	}
	img.responsive-no-display{
		display: none;
	}
	.page-header h1{
		margin-bottom: 0;
	}
	header.page-header h1{
		margin-bottom: 0;
		margin-top: 0;
	}
	header.page-header{
		margin-top: -20px;
		margin-bottom: -5px;
	}

}

/* Styles pour les écrans moyens */
@media (min-width: 992px) and (max-width: 1190px) {
	.social-titre>a, .social-button>a{
		font-size: 0.8em;
	}
	.resume-item{
		height: 450px;
	}
	.resume-titre-tarif{
		line-height: 50px;
		position: relative;
	}
	/*a.navbar-brand{
		display: none;
	}*/
	.row-marches img{
		height: auto;	
	}
	header.page-header, header.page-header h1{
		margin-bottom: 0;
	}
}

/* Styles pour les grands écrans */
@media (min-width: 1190px) {
	/*a.navbar-brand{
		display: none;
	}*/
}